<div class="card">
  <div class="card__header">
    <h2 class="card__title">Change values to calculate your results</h2>
  </div>
  <div class="card__content">
    <form>

      <!-- Years of mortgage Input -->
      <div class="form-field">
        <label class="form-field__label" for="annual_tax_field">Years of mortgage</label>

        <div class="form-filed__input">

          <div class="form-field_progress">
            <div class="form-field_progress__start">1</div>
            <input id="years_of_mortage_field" type="range" min="1" max="40" value="30">
            <div class="form-field_progress__end">40</div>
          </div>

          <div class="form-field__input-number">
            <input type="number">
          </div>

        </div>
      </div>
      <!-- /Years of mortgage Input -->

      <!-- Rate of interest Input -->
      <div class="form-field">
        <label class="form-field__label" for="rate_of_interest_field">Rate of interest (%)</label>

        <div class="form-filed__input">

          <div class="form-field_progress">
            <div class="form-field_progress__start">0.1</div>
            <input id="rate_of_interest_field" type="range" step="0.1" min="1" max="10" value="30">
            <div class="form-field_progress__end">40</div>
          </div>

          <div class="form-field__input-number">
            <input type="number">
          </div>

        </div>
      </div>
      <!-- /Rate of interest Input -->

      <!-- Loan Amount Input -->
      <div class="form-field form-filed--error">
        <label class="form-field__label" for="load_amount_field">Loan Amount</label>

        <div class="form-filed__input">

          <input id="load_amount_field" type="text">

          <div class="form-filed__input__error-message">
            Mandatory field
          </div>
        </div>
      </div>
      <!-- /Loan Amount Input -->
      
      <div class="form-fild-row">
        <!-- Annual Tax Input -->
        <div class="form-field">
          <label class="form-field__label" for="annual_tax_field">Annual Tax</label>

          <div class="form-filed__input">

            <input id="annual_tax_field" type="text">

            <div class="form-filed__input__error-message">
              Mandatory field
            </div>
          </div>
        </div>
        <!-- /Annual Tax Input -->

        <!-- Annual Insurance Input -->
        <div class="form-field">
          <label class="form-field__label" for="annual_insurance_field">Annual Insurance</label>

          <div class="form-filed__input">

            <input id="annual_insurance_field" type="text">

            <div class="form-filed__input__error-message">
              Mandatory field
            </div>
          </div>
        </div>
        <!-- /Annual Insurance Input -->
      </div>

      <button type="submit" class="button button--full">Calculate</button>
    </form>
  </div>
</div>